.toutprofil {
    padding-top: 20px;
}

.centre-profil {
    background-color: rgb(250, 253, 253);
    height: 450px;
    max-width: 83%;
    min-width: 50%;

    padding: auto;

    border-color: rgb(224, 233, 211);

    display: block;
    border-radius: 10px;
    margin: auto auto;
    text-align: center;
}
.profile {
    display: flex;
}

.profileRight {
    flex: 9;
}

.profileCover {
    height: 320px;
    position: relative;
}

.profileCoverImg {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.profileUserImg {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid white;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
}

.profileInfoName {
    font-size: 24px;
}

.profileInfoDesc {
    font-weight: 300;
}

.profileRightBottom {
    display: flex;
}
.btn-editerprofil {
    background-color: rgb(218, 226, 233);
    width: 100px;
    height: 27px;
    float: right;
    top: 0;
    margin-top: 20px;
    margin-right: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(100, 103, 114);
}
.btn-editerprofil:hover {
    background-color: rgb(193, 196, 211);
}
.coordonées {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 90px;
    margin-left: 20px;
    font-size: 15px;
    color: rgba(77, 79, 83, 0.596);
}
.abonn {
    display: flex;
    flex-direction: row;
}
.abonn > span {
    margin-right: 30px;
}
.coordonées span:nth-child(2) {
    margin-bottom: 20px;
}
.coordonées > span {
    margin-bottom: 5px;
}
.menus {
    position: fixed;
    z-index: 20;
    margin-top: 4rem;
}
.design {
    width: 170px;
    height: 30px;
    background-color: rgb(250, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    color: rgb(124, 128, 129);
}
.design:hover {
    background-color: rgb(247, 251, 252);
    border-bottom: solid;
    border-bottom-color: rgb(115, 224, 252);
    color: black;
    font-weight: bolder;
    cursor: pointer;
}
.hyy:hover {
    border-bottom: none;
}
.iconephoto {
    position: absolute;
    z-index: 10;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(245, 243, 243);
    margin-top: 23px;
    padding-top: 5px;
}
.iconephotocouv {
    position: absolute;
    z-index: 10;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(245, 243, 243);
    padding-top: 5px;
    right: 0;
    margin-top: -25px;
}
