.hauteur {
    height: calc(100vh - 10%);
    background: rgb(255, 255, 255);
    top: 10%;
}

.header {
    height: 10%;
    z-index: 100;
    /* background-color: rgb(55, 81, 114); */
    background-color: rgb(56, 98, 153);
    border-bottom: solid;
    border-color: rgb(228, 222, 222);
}

.border-menu {
    border-right: solid 1px rgba(83, 83, 83, 0.253);
}

#btn-right {
    display: none;
}

@media only screen and (max-width: 991px) {
    .gauche {
        position: fixed;
        z-index: 100;
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .gauche {
        display: none;
    }
}

@media only screen and (max-width: 740px) {
    .droite {
        display: none;
        width: 100%;
    }
}

@media only screen and (max-width: 741px) {
    #btn-right {
        display: block;
    }
    /* #droite {
        position: fixed;
        right: 0;
    } */
}

@media only screen and (max-width: 345px) {
    .titre-page {
        display: none;
    }
}

@media only screen and (min-height: 768px) {
    .header {
        height: 9.7%;
        z-index: 100;
        background-color: white;
    }
}
@media only screen and (min-width: 992px) {
    .leftDrawer {
        display: none;
        margin-right: 5px;
    }
}
@media screen and (max-width: 500px) {
    .titre-page {
        display: none;
    }
}
.barre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 32px;
    /* background-color: white; */
    margin-top: 15px;
    border-radius: 15px;
}
.inputrecherche {
    width: 250px;
    height: 32px;
    margin-right: 6px;
    border-radius: 15px;
    padding-left: 8px;
    border-style: none;
}
