.ant-card-body {
    padding: 9px;
}

.width-card {
    /* margin-right: 110px;
    margin-left: 90px; */
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.alert {
    width : 100%;
    height: 100vh;
    background: #212121a6 ;
    position: fixed;
    top : 0;
    left: 0;
    z-index: 9999;
    display: none;
}

.alert.show {
    display:flex;
    justify-content: center;
    align-items: center;
}

.alert-message {
    padding : 2rem;
    border-radius: 15px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.alert-btn {
    margin:  2rem 1rem 0;
    padding: 5px 20px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}
.btn-confirm {
    background: #0091ea;
}

.btn-cancel {
    background: #ff6f00 ;
}

@media (max-width: 991px) {
    .alert-message {
        font-size: 0.8rem;
    }

}

@media only screen and (min-width: 320px) {
    .width-card {
        width: 99%;
    }
}
@media only screen and (min-width: 320px) {
    .width-card {
        width: 99%;
    }
}

@media only screen and (min-width: 375px) {
    .width-card {
        width: 95%;
    }
}

@media only screen and (min-width: 425px) {
    .width-card {
        width: 93%;
    }
}

@media only screen and (min-width: 450px) {
    .width-card {
        width: 80%;
    }
}
@media only screen and (min-width: 991px) {
    .width-card {
        width: 70%;
    }
}
